	.info span{ display:inline-block;width: 150px; text-align: right;}
	.info_disabled{background:#f2f2f2; color:#595963!important;}
	.info input{width: 200px;height: 40px;}
	.info div{margin: 15px 100px;} 
	.info p{color: red;}5px 100px;}